

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
    max-height: 70px;
    min-height: 70px;
    max-width: 100px;
}

.carousel .slide img {
    /* background-size: cover;
    background-position: center center;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: "center" ; */
    width: 100% !important;
    height: 100% !important;
    max-width: 500px;
    height: auto
   
    
    /* min-height: 300px;
    min-width: 250px;
    max-width: 400px */
}